@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/chart/exporting.js"></script>
<script src="~/Scripts/chart/highcharts.js"></script>

<div class="jumbotron">
    @*<h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>

</div>
<script>
    //$(document).ready(function () {
    //    $.getJSON("/Home/GetData", function (data) {
    //        Highcharts.setOptions({
    //            colors: ['green', 'red', 'orange', ]
    //        });
    //Highcharts.chart('container', {
    //    chart: {
    //        plotBackgroundColor: null,
    //        plotBorderWidth: null,
    //        plotShadow: false,
    //        type: 'pie'
    //    },
    //    title: {
    //        text: 'Compliance Status, 2018'
    //    },
    //    tooltip: {
    //        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    //    },
    //    plotOptions: {
    //        pie: {
    //            allowPointSelect: true,
    //            cursor: 'pointer',
    //            dataLabels: {
    //                enabled: true,
    //                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
    //                style: {
    //                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
    //                }
    //            }
    //        }
    //    },
    //    series: [{
    //        name: 'Rate of Compliance',
    //        colorByPoint: true,
    //        data: [{
    //            name: 'Complianced',
    //            y: data.Complianced
              
    //        }, {
    //            name: 'Non_Complianced',
    //                y: data.Non_Complianced
    //        }, {
    //            name: 'Partially_Complianced',
    //                y: data.Partially_Complianced
    //            }]
    //    }]
    //        });
    //    });
    //});


    Highcharts.setOptions({
                colors: ['green', 'orange', 'red', ]
            });

    Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Stacked column chart'
        },
        xAxis: {
            categories: ['Tata power', 'Tata enterprise', 'Tata steel', 'Tata motors', 'Tata consulting']
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Rate of Compliances'
            },
            stackLabels: {
                enabled: true,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                }
            }
        },
        legend: {
            align: 'right',
            x: -30,
            verticalAlign: 'top',
            y: 25,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
            borderColor: '#CCC',
            borderWidth: 1,
            shadow: false
        },
        tooltip: {
            headerFormat: '<b>{point.x}</b><br/>',
            pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: true,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
                }
            }
        },
        series: [{
            name: 'Compliance',
            data: [5, 3, 4, 7, 2]
        }, {
            name: 'Partially-Compliance',
            data: [2, 2, 3, 2, 1]
        }, {
            name: 'Non-Compliance',
            data: [3, 4, 4, 2, 5]
        }]
    });


    </script>

@*//<div class="row">
    //        <div class="col-md-4">
        //            <h2>Getting started</h2>
        //            <p>
            //                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            //                enables a clean separation of concerns and gives you full control over markup
            //                for enjoyable, agile development.
            //
        </p>
        //            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        //
    </div>
    //        <div class="col-md-4">
        //            <h2>Get more libraries</h2>
        //            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        //            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        //
    </div>
    //        <div class="col-md-4">
        //            <h2>Web Hosting</h2>
        //            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        //            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        //
    </div>
    //
</div>*@